<div class="loginDIV">
<h2 class="loginH2">Log In</h2>
<hr class="loginHR">
<form action="/auth/login" method="POST" id="form-container">

  <label class="lLabel" for="username">Username:</label>
  <input class="luser" id="username" type="text" name="username" placeholder="Your username">
<br>

  <label class="lLabel" for="password">Password:</label>
  <input class="lpass" id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br>

  <button class="loginButton">Login</button>
  <hr class="hrNoAccountYet">   
  <p class="account-message">
    Don't have an account yet?
    <a class="signA" href="/auth/signup">Signup</a>
  </p>
</form>

</div>
