<div class="signupDIV">

<h2 class="loginH2">Signup</h2>
<hr class="loginHR">

<form action="/auth/signup" method="POST" id="form-container">
  <label class="sLabel" for="username">Username:</label>
  <input class="suser" id="username" type="text" name="username" placeholder="Your Username">

  <br><br>

  <label class="sLabel" for="password">Password:</label>
  <input class="spass" id="password" type="password" name="password" placeholder="Your password">
  <br><br>

  <label class="sLabel" for="email">Email:</label>
  <input class="semail" id="email" type="email" name="email" placeholder="gallina@gmail.com">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br>

  <button class="signupButton">Create account</button>
 <hr class="hrNoAccountYet">
  <p class="account-message">
    Do you already have an account?
    <a class="loginA" href="/auth/login">Login</a>
  </p>
  <br>
</form>

</div>
