<script>

  window.onload = function () {

    let chartOne = printChart(series);



    setTimeout(function () {
      newSeries()
        .then((newSeries) => {
          updateChart(chartOne, newSeries);
          
        })
        
    }, 2000)

    

    document.querySelector('#chartjsUpdate').onclick = click;

    function click() {

      let timeUnitCjs = document.querySelector('#timeUnitCjs').value;
      let marketCjs = document.querySelector('#marketCjs').value;
      let exchangeNameCjs = document.querySelector('#exchangeNameCjs').value;
      let sinceDateCjs = document.querySelector('#sinceDateCjs').value;

      axios.post('/seriesQuery', { timeUnitCjs, marketCjs, exchangeNameCjs, sinceDateCjs })
        .then((newSeries) => {

          updateChart(chartOne, newSeries);
        })
    }

  }

</script>

<div class="backgroundGraph">

<div class="graph1-container">
<canvas id="myChart"></canvas>
</div>


<div class="graph1-controls">
  <select class="selectors" name="timeUnitCjs" id="timeUnitCjs">
    <option value="1m">1 minute</option>
    <option value="5m" selected>5 minutes</option>
    <option value="15m">15 minutes</option>
    <option value="30m">30 minutes</option>
    <option value="1h">1 hour</option>
    <option value="3h">3 hours</option>
    <option value="6h">6 hours</option>
    <option value="12h">12 hours</option>
    <option value="1d">1 day</option>
    <option value="1w">1 week</option>
  </select>

  <select class="selectors" name="marketCjs" id="marketCjs">
    <option value="BTC/USDT">BTC/USDT</option>
    <option value="XRP/USDT">XRP/USDT</option>
    <option value="ETH/USDT">ETH/USDT</option>
    <option value="XLM/USDT">XLM/USDT</option>
    <option value="EOS/USDT">EOS/USDT</option>
    <option value="LTC/USDT">LTC/USDT</option>
    <option value="ETH/BTC">ETH/BTC</option>
    <option value="ETH/EOS">ETH/EOS</option>
  </select>

  <select class="selectors" name="exchangeNameCjs" id="exchangeNameCjs">
    <option value="bitfinex">Bitfinex</option>
    <option value="binance">Binance</option>
    <option value="bittrex">Bittrex</option>
    <option value="hitbtc">HitBTC</option>
    <option value="bitstamp">BitStamp</option>
  </select>

  <label  class="startDate"for="sinceDateCjs">Start Date:</label>
  <input class="selectorDate" name="sinceDateCjs" type="date" id="sinceDateCjs">

  <button class="but4" id="chartjsUpdate" type="submit">Update</button>
</div>


<script>let series = {{{ json series }}}</script>

</div>