<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/reset.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script src="/javascripts/printChartjs.js"></script>
  
  <script src="/javascripts/printCanvasjs.js"></script>

</head>

<body>


  <nav class="nav-bar">
    <div class="homelogo">
      <img class="logoI" src="/images/crypobaseatmticon.png" alt="cryptomoneda">
      <a id="homeCrypto" href="/">CryptoBase</a>
    </div>

    <div class="loginSignUp">


      {{#if user}}
      <ul class="navbarUL">
        <li>
          <a class="linksRight" href="/market">Market</a>
        </li>

        <li>
          <a class="linksRight" href="/graph">Graphs </a>
        </li>

        <li class="graphLogout">
          <a class="linksRight" href="/auth/logout">Logout</a>
        </li>

        <li>
          <a class="linksRight" href="/auth/profile">Profile</a>
        </li>
        {{else}}
        <li>
          <a class="linksRight" href="/auth/login">Login</a>
        </li>
        <li>
          <a class="linksRight" href="/auth/signup">Signup</a>
        </li>
        {{/if}}
      </ul>
    </div>

  </nav>

  {{{body}}}


  <script src="/javascripts/script.js"></script>
  <footer>
    <ul>
      <div class="items">
        <li><a class="footerLinks" href="#">Api Documentation</a></li>
        <li><a class="footerLinks" href="#">Resources</a></li>
        <li><a class="footerLinks" href="#">About Us</a></li>
      </div>
    </ul>
    <p class="footerCredit">© 2018 CRYPTOBASE, INC</p>

  </footer>
</body>

</html>