

<div class="myProfile">
    <p class="profileText">MY PROFILE</p>
    <hr class=" moreShadow"> 
    <img class="profileI" src="/images/profile.png" alt="">
      <div class="profileData">
          <p>Username: {{user.username}}</p>
          <p>Email: {{user.email}}</p>
      </div>

      <div class="editOrDelete">
         <form  action="/auth/{{user._id}}/edit">
           <input class="but3 edit" type="submit" value="Edit" />
         </form>

         <form  action="/auth/{{user._id}}/delete">
         <input class="but3 delete" type="submit" value="Delete" />
        </form>
      </div>
  </div>







