  <h3>Edit profile</h3>
<form method="POST" action="/auth/edit/{{user._id}}">


    <label>Username:</label>
    <input type="" name="username" placeholder="username" value="{{username}}">
    <label>Email:</label>
    <input type="" name="email" placeholder="Email" value="{{email}}">

    <button type="submit" name="" id="submit">Edit</button>
</form>