@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {

  font: 14px 'Titillium Web', Helvetica, Arial, sans-serif;
  background: #293342;
}
header {
  height: 640px;
  background-image: url("../images/verdeconect.jpeg");
  background-size: cover;
  box-shadow: 10px 10px 10px rgb(15, 19, 24);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.logoH{
  width: 18%;
  margin-top: 10%;
}

.loginSignUp {
  display: flex;
}

header div {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header input {
  font-family: Geneva;
  font-size: 3vh;
  padding: 1vh 4.2vh;
  margin: 2%;
  color: white;
  padding: 10px 40px;
  margin: 25px;
  border-radius: 5px;
}

.but1 {
  background-color: transparent;
  border: 1px solid white;
}

.but2 {
  color: black;
  font-weight: bold;
  background-color: rgb(127, 199, 228);
  border: 1px solid rgb(127, 199, 228);
}

.but1:hover {
  background-color: rgba(137, 194, 216, 0.2);
}

.but2:hover {
  background-color: rgb(206, 234, 245);
}

.whatIsCryptobase {
  height: 700px;
  background-color: #0285A7;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 2px 2px 2px rgb(15, 19, 24);
}


.FirstSectionText{
  width: 40%;
}
.globeSVG{
  width: 30%;
}

h1 {
  font-size: 7vh;
  font-weight: bold;
  margin-bottom: 1%;
  color:#01232c;
}

p{
  font-size: 2.7vh;
  margin-bottom: 1.8%;
  color: rgb(189, 228, 243);
}

h2 {
  font-family: Lato;
  font-size: 3vh;
  color: rgb(212, 214, 217);
  margin: 2.5% 5% 0%;
}

footer {
  background-color: #F3F5F8;
  // position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: #6A666F;
}

.items {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 1.3%;
}

footer a {
  color: rgba(96, 93, 99, 0.8);
}

footer a:hover {
  color: rgb(102, 166, 250)
}

footer p {
  padding-left: 45%;
  margin-top: 1.3%;
  font-size: 1.7vh;
  color: rgb(71, 68, 73);
}

nav a {
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
}

nav a:hover {
  color: rgb(102, 166, 250)
}
.logoI {
  padding-left: 1.3%;
  width: 3.8%;
  height: 3.8%;
}

.footerLinks {
  text-decoration: none;

}

.linksRight {
  padding-right: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  font-size: 2.3vh;

}


.nav-bar {
  background-color: rgb(25, 33, 41);
  box-shadow: 2px 2px 2px rgb(15, 19, 24);
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  top: 0;
}

.navbarUL {
  display: flex;
  flex-direction: row;

}

li {
  list-style: none;
  margin: 1vh;

}

#homeCrypto {
  font-family: 'Titillium Web', sans-serif;
  padding-left: 1.3%;
  font-size: 3.8vh;
  color: white;
  text-decoration: none;
}

.homelogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

table {
  text-align: center;
  margin: 2% 6.5%;
  width: 85%;
  font-size: 2vh;
}

th {
  color: #9AA9C3;
  padding-bottom: 0.5%;
  border-bottom: 0.5px solid  #7f8797;
  border-width: 1px;
}

td {
  border-bottom: 0.5px solid  #252b37;
  padding: 0.4% 0;
  color: #D4D7DC;
}

.red {
  color:red;

}

.green {
  color: green;
}

.icon-arrow-red {
  background-image: url('../images/icon-arrow-down.svg');
  background-repeat: no-repeat; 
  background-position: 110px;
}

.icon-arrow-green {
  background-image: url('../images/icon-arrowGreen.svg');
  background-repeat: no-repeat;
  background-position: 110px; 
}

table .trTD:hover {
  background-color: #26394E;
}

#form-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imgMarket {
  height: 200px;
  background-image: url("../images/blockchain.jpg");
  background-size: cover;
  box-shadow: 4px 4px 2px rgb(31, 40, 51);
}

.marketHR {
border: 0.4px solid #9AA9C3; 
width: 90%;
}

//LOGIN

.loginDIV {
  background-color: #00AFBF;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginH2{
 color: white;
 font-size: 7vh;
}

#form-container{
height: 490px;
}

label {
  font-family:  Verdana, sans-serif;
  font-size: 3.5vh;
  margin-bottom: 2.5%;
}

.luser  {
  font-family:  Verdana, sans-serif;
  font-size: 2.5vh;
  color: rgb(1, 49, 54);
  width: 90%;
  height: 8%;
  border-radius: 8px
}

.lpass {
  font-family:  Verdana, sans-serif;
  font-size: 2.5vh;
  color: rgb(1, 49, 54);
  width: 90%;
  height: 8%;
  border-radius: 8px
}

::placeholder {
padding-left: 8%;
color: rgba(117, 117, 117, 0.6)
}

.loginButton {
  height: 8%;
  width: 60%;
  font-size: 2.6vh;
  border-radius: 8px;
  margin-bottom: 10%;
  background-color: #06657F;
  color: white;
  border: 2px solid #06657F;
  box-shadow: 3px 3px 2px #033340;

}

.loginHR{
  border: 2px solid rgb(7, 120, 151);
  box-shadow: 3px 4px 7px #000507;
  width: 50%;
  margin-bottom: 2%;
}

.signA {
  color: rgb(21, 83, 90);
  font-family: Open Sans;
  margin-left: 5%;
}

.account-message{
  width: 110%;
  color: rgb(194, 230, 245);
  padding-left: 10%;
}

.hrNoAccountYet {
  border: 0.5px solid rgb(30, 52, 58);
  box-shadow: 1px 1px 2px #000000;
  width: 105%;
  
}


//signup

.signupDIV {
  background-color: #124450;
  color: rgb(161, 176, 228);
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.suser {
  color: white;
  font-family:  Verdana, sans-serif;
  font-size: 2.5vh;
  width: 90%;
  height: 8%;
  border-radius: 8px
}

.spass{
  color: white;
  font-family:  Verdana, sans-serif;
  font-size: 2.5vh;
  width: 90%;
  height: 8%;
  border-radius: 8px
}

.semail{
  color: white;
  font-family:  Verdana, sans-serif;
  font-size: 2.5vh;
  width: 90%;
  height: 8%;
  border-radius: 8px
}

.signupButton{
  height: 8%;
  width: 60%;
  font-size: 2.6vh;
  border-radius: 8px;
  margin-bottom: 10%;
  background-color: #06657F;
  color: white;
  border: 2px solid #06657F;
  box-shadow: 3px 3px 2px #033340;
}

.loginA {
  color: rgb(124, 187, 152);
  font-family: Open Sans;
  margin-left: 5%;
}

lLabel {
  color: black;
}

sLabel {
  color: white;
}